.about {
    width: 100%;
    background-color: white;
    
    h1.heading {
        text-align: center;
        font-size: 2.3rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #c7c7c7;
        font-family: 'Montserrat', sans-serif;
        margin: 30px 0;
    }

    .wrapper {
        width: 90%;
        margin: 0 auto;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .content {
            margin-right: 20px;
            h1 {
                font-size: 40px;
                color: black;
                font-weight: bold;
                letter-spacing: 5px;
            }

            h2 {
                font-size: 30px;
                color: rgb(236,167,1);
                color: #1a1919;
            }
            
            h3 {
                color: gray;
            }

            p {
                margin-top: 40px;
                max-width: 30vw;
                text-align: left;
                font-size: 20px;
                color: #3d3d3d;
                line-height: 30px;
            }
        }

        img {
            max-width: 40vw;
            border-radius: 5px;
        }
        a {
            writing-mode: vertical-lr;
            color: #262626;
            font-size: 25px;
            animation: bounce 2s ease 3s infinite;

            i {
                margin-top: 20px;
            }
        }
    }

    .socials {
        width: 90%;
        margin: 100px auto 50px auto;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 1.2rem;
            letter-spacing: 2px;
            color: #3d3d3d;
        }

        .icons {
            margin-left: 20px;
            a {
                i {
                    font-size: 30px;
                    color: #c7c7c7;
                }
                &:last-child {
                    margin-left: 10px;
                }
            }
        }
    }
}

@keyframes bounce {
    0%   { transform: scale(1,1) translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-55px);}
    50%  { transform: scale(1.05,.95) translateY(0); }
    58%  { transform: scale(1,1) translateY(-7px); }
    65%  { transform: scale(1,1) translateY(0);}
    100% { transform: scale(1,1) translateY(0);}
}
