@media only screen and (max-width: 600px) {
  .about {
    .wrapper {
      flex-direction: column;
      
      .content {
        p {
          max-width: 100% !important;
        }
      }
      img {
        margin-top: 50px;
      }
    }
  }
}
