@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    height: auto;
    
    .logo {
      padding: 10px 0 0 0;
    }
    
    .burger {
      display: block;
      color: white;
      font-size: 1.3rem;
      margin: 10px 0;
      transition: .3s ease all;
      
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
    ul {
      transition: .3s ease all;
      display: none;
      flex-direction: column;
      li {
        margin: 10px 0;
        &:after {
          display: none;
        }
      }
    }
  }
}
